@import "./styles/_fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-68px {
    width: 68px;
  }

  .w-232px {
    width: 232px;
  }

  .px-2px {
    padding-left: 2px;
    padding-right: 2px;
  }
  .text-extra-small {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .text-small {
    font-size: 13px;
    line-height: 20px;
  }

}

* {
  font-family: 'Poppins';
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

